<div class="btn-share">
    <input type="checkbox" class="d-none" id="share">
    <label class="float" for="share">
        <%= image_tag("share/share.png", class: "icon") %>
        <b>공유하기</b>
    </label>

    <div class="float-list">
        <a class="icon-share" onclick="Share.facebook()">
            <%= image_tag("share/facebook.svg") %>
        </a>
        <a class="icon-share" onclick="Share.kakaotalk()">
            <%= image_tag("share/kakao.png") %>
        </a>
        <a class="icon-share" onclick="Share.naver()">
            <%= image_tag("share/naver.png") %>
        </a>
        <a class="icon-share" onclick="Share.twitter()">
            <%= image_tag("share/twitter.png") %>
        </a>
        <a class="icon-share" onclick="Share.copyLink()">
            <%= image_tag("share/link.svg") %>
        </a>
    </div>
</div>