<% @bg = "linear-gradient(180deg, #F7951C 0%, #FFC33E 7%, #FFC33E 95%, #F7951C 100%)" %>

<% if !@meta.nil? %>
    <% if !@meta.image_background.blank? && !@meta.image_background.try(:key).nil? %>
        <% @bg = "url(" + Cloudinary::Utils.cloudinary_url(@meta.image_background.key, options = {}) + ")" %>
    <% elsif !@meta.color.blank? %>
        <% @bg = @meta.color %>
    <% end %>        
<% end %>

<div class="wrapper event-container event2"
    style="background: <%= @bg %>"
>
    <%= image_tag("event1/left.png", class: "bg-pattern left") %>
    <%= image_tag("event1/right.png", class: "bg-pattern right") %>

    <!-- Share button -->
    <%= render partial: "partials/share" %>

    <!-- Header -->
    <section class="section">
        <div class="section__margin">
            <div class="text-center">

                <h4 class="text-white mb-4">
                    <% if @meta.nil? || @meta.text1.blank? %>
                        웅진스마트ALL 구매 고객 대상<br>
                        도서 증정 이벤트
                    <% else %>
                        <%= @meta.text1.html_safe %>
                    <% end %>
                </h4>
                
                <div class="mb-5">
                    <% if @meta.nil? || @meta.image_headline.blank? || @meta.image_headline.try(:key).nil? %>
                        <%= image_tag("event3/headline.png", class: "img-in-text") %>
                    <% else %>
                        <img class="img-in-text" src="<%= Cloudinary::Utils.cloudinary_url(@meta.image_headline.key, options = {}) %>" />
                    <% end %>
                </div>

                <p class="text-white bg-dark d-inline-block px-4 py-1 mb-5">
                    이벤트 기간: <%= @event.start_date.strftime("%Y.%m.%d") %> ~ <%= @event.end_date.strftime("%Y.%m.%d") %>
                </p>

                <p class="black mb-5 text-left col-md-6 offset-md-3">
                    <% if @meta.nil? || @meta.text5.blank? %>
                        <b>ㅣ 응모 대상 : </b> 2021년 2월 15일 ~ 3월 15일  안에 SK텔레콤 직영 매장 (PS&M 매장)을 통해 웅진 스마트올  가입을 완료한 고객   <br>
                        <b>ㅣ 당첨자 발표 : </b> 3월 말 개별 연락<br>
                        <b>ㅣ 당첨상품 받기: </b> 웅진스마트올 가입 PS&M 매장에 방문하여 당첨 문자를 보여주세요! 당첨자 확인 후 상품을 증정해 드립니다.
                    <% else %>
                        <%= @meta.text5.html_safe %>
                    <% end %>
                </p>
            </div>

            <h4 class="text-white mb-3 mt-3">도서 선택하기 (택1 응모)</h4>
            <%= form_for :user_three, url: "/users/3/submit", format: :js, remote: true, html: {class: "text-left"} do |f| %>
                <div class="row text-center mb-4 pt-2">

                    <% prizes = ["초등 엄마 관계 특강", "나는 내가 좋은 엄마인 줄 알았습니다", "부모 공부", "초등 매일 공부의 힘", "믿음 주는 부모 자존감 높은 아이"] %>
                    <% prizes.each_with_index do |prize, i| %>

                        <div class="col-4 <%= i == 3 ? "offset-2" : "" %>">
                            <%= f.label "prize_#{i + 1}".to_sym, class: "clickable" do %>

                                <!-- option image -->
                                <% @img = @meta.read_attribute("image_option#{i + 1}") %>
                                <% if @meta.nil? || @img.blank? || @img.try(:key).nil? %>
                                    <%= image_tag("event3/option#{i + 1}.png", class: "mb-2") %>
                                <% else %>
                                    <img class="mb-2" src="<%= Cloudinary::Utils.cloudinary_url(@img.key, options = {}) %>" />
                                <% end %>
                                
                                <br>

                                <!-- option text -->
                                <% if @meta.nil? || @meta.read_attribute("option#{i + 1}").blank? %>
                                    <b><%= prizes[i].html_safe %></b>
                                <% else %>
                                    <%= @meta.read_attribute("option#{i + 1}").html_safe %>
                                <% end %>

                            <% end %>
                            <div>
                                <%= f.radio_button :prize, "#{i + 1}" %>
                            </div>
                        </div>
                    <% end %>

                </div>

                <hr>

                <div class="row mb-5">
                    <div class="offset-lg-3 col-lg-6 col-12">
                        <h4 class="black mb-3 mt-3">응모자 정보</h4>

                        <div class="row mb-3">
                            <%= label :name, "이름", class: "col-3 col-form-label" %>
                            <div class="col-9">
                                <%= f.text_field :name, placeholder: "이름", class: "form-control" %>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <%= label :phone, "휴대폰번호", class: "col-3 col-form-label" %>
                            <div class="col-9">
                                <%= f.text_field :phone, placeholder: "01012345678", class: "form-control" %>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-12 font-weight-bold">
                                <%= f.check_box :agreed %>
                                <%= f.label :agreed, '개인정보 수집 및 이용 동의 (필수)', class: "clickable" %> &nbsp;
                                <a type="button" data-toggle="modal" data-target="#privacyModal">
                                    <u>자세히보기</u>
                                </a>
                                <p class="red mb-3"><small>
                                    * 휴대폰 번호는 숫자만 기입해주세요 (예시 : 01012345678)<br>
                                    * 입력하신 번호로 당첨 안내가 되오니 정확히 입력해주세요.
                                </small></p>
                                <div>
                                    <%= f.check_box :agreed2, class: "position-absolute" %>
                                    <%= f.label :agreed2, "당첨된 경우, 이벤트 대상자 젹격 확인 (개통 고객 확인)을 위한 개통이력  조회에 동의합니다. (필수)", class: "clickable pl-3" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row mb-3">
                    <div class="offset-lg-3 col-lg-6 col-12">
                        <h4 class="black mb-3 mt-3">구매매장 Code</h4>
                        <div class="row mb-3"> 
                            <%= label :shop, "구매매장 코드", class: "col-4 col-form-label" %>
                            <div class="col-8 mb-3">
                                <%= f.text_field :shop, placeholder: "구매매장 코드", class: "form-control" %>
                            </div>
                            <p class="col-12 red"><small>
                                * 매장 코드는 웅진스마트올을 구매한 PS&M 매장의 T매니저에게 문의하세요!<br>
                            </small></p>
                        </div>

                    </div>
                </div>
                
                <div class="row text-center">
                    <div class="offset-lg-3 col-lg-6 col-12">
                        <%= f.submit "응모 완료", class: "btn" %>
                    </div>
                </div>

            <% end %>

        </div>
    </section>


    <!-- warnings -->
    <section class="section">
        <div class="section__content">
            <h3 class="mb-4 black">유의사항</h3>
            <p class="text-left">
                - &nbsp; 이 이벤트는 휴대폰 번호 1개당 1회 응모하실 수 있습니다.<br>
                - &nbsp; 비정상적이거나 불법적인 방법으로 이벤트에 참여하신 경우, 추첨 대상에서 제외되거나 당첨이 취소될 수 있습니다.<br>
                - &nbsp; 법인 고객님 및 만 14세 미만 고객님은 이 이벤트에 응모하실 수 없습니다.<br>
                - &nbsp; 이 이벤트는 SK텔레콤의 사정에 따라 변경 또는 조기 종료될 수 있습니다.<br>
                - &nbsp; 이 이벤트는 현재 이용 중인 통신사와 상관없이 참여하실 수 있습니다.<br>
                - &nbsp; SK텔레콤은 고객님이 정보를 잘못 입력해 경품을 받지 못하신 경우에 대해 책임지지 않습니다.<br>
                - &nbsp; 이벤트 응모 시 입력하신 휴대폰 번호는 이벤트 종료 후 3개월 이내 파기됩니다.<br>
                - &nbsp; 이 이벤트는 SK텔레콤의 위탁을 받아 대행사(㈜이모션글로벌)에서 운영합니다.<br>
            </p>
        </div>
    </section>
        
    <%= image_tag("galaxy.png", class: "img-at-bottom") %>
</div>

<!-- Modal -->
<%= render partial: "partials/privacy" %>

<!-- meta tags -->
<%= render partial: "partials/img_event2" %>


<!-- finished -->
<div id="finished" class="d-none">
    <div class="text-center py-5">
        <h4 class="my-4">
            <% if @meta.nil? || @meta.text6.blank? %>
                웅진스마트ALL 구매에 감사드립니다.<br>
                응모가 완료되었습니다!
            <% else %>
                <%= @meta.text6.html_safe %>
            <% end %>
        </h4>

        <div class="row">
            <% if @meta.nil? || @meta.image_thanks.blank? || @meta.image_thanks.try(:key).nil? %>
                <%= image_tag("event3/thanks.png", class: "col-lg-6 offset-lg-3 col-10 offset-1") %>
            <% else %>
                <img class="col-lg-6 offset-lg-3 col-10 offset-1" src="<%= Cloudinary::Utils.cloudinary_url(@meta.image_thanks.key, options = {}) %>" />
            <% end %>
        </div>

        <p class="my-5">
            <% if @meta.nil? || @meta.text7.blank? %>
                위의 다섯권의 책과 4만권의 책을<br>
                원스토어 북스를 통해 이용하실 수 있습니다. <br>
                구매매장에 문의하시고 <span class="red">월 100원</span>에 4만권의 책을 즐겨보세요!  
            <% else %>
                <%= @meta.text7.html_safe %>
            <% end %>
        </p>

        <a href="/">홈으로 돌아가기</a>
    </div>
</div>