<% @bg = "linear-gradient(180deg, #F0C5FF 0%, #D0CAFF 7%, #D0CAFF 95%, #F0C5FF 100%)" %>

<% if !@meta.nil? %>
    <% if !@meta.image_background.blank? && !@meta.image_background.try(:key).nil? %>
        <% @bg = "url(" + Cloudinary::Utils.cloudinary_url(@meta.image_background.key, options = {}) + ")" %>
    <% elsif !@meta.color.blank? %>
        <% @bg = @meta.color %>
    <% end %>        
<% end %>

<div class="wrapper event-container event1"
    style="background: <%= @bg %>"
>
    <div class="bg-wrapper">
        <%= image_tag("event1/left.png", class: "bg-pattern left") %>
        <%= image_tag("event1/right.png", class: "bg-pattern right") %>
    </div>
    
    <!-- Share button -->
    <%= render partial: "partials/share" %>

    <!-- Header -->
    <section class="section text-center">
        <div class="section__content">
            <h4 class="black mb-4">
                <% if @meta.nil? || @meta.text1.blank? %>
                    2021 Galaxy S21 출시 기념
                <% else %>
                    <%= @meta.text1.html_safe %>
                <% end %>
            </h4>


            <div class="mb-5">
                <% if @meta.nil? || @meta.image1.blank? || @meta.image1.try(:key).nil? %>
                    <%= image_tag("event1/headline.png", class: "img-in-text") %>
                <% else %>
                    <img class="img-in-text" src="<%= Cloudinary::Utils.cloudinary_url(@meta.image1.key, options = {}) %>" />
                <% end %>
            </div>
            <div class="mb-5">
                <% if @meta.nil? || @meta.image2.blank? || @meta.image2.try(:key).nil? %>
                    <%= image_tag("event1/apps.png", class: "img-in-text") %>
                <% else %>
                    <img class="img-in-text" src="<%= Cloudinary::Utils.cloudinary_url(@meta.image2.key, options = {}) %>" />
                <% end %>
            </div>


            <p class="black mb-4">
                <% if @meta.nil? || @meta.text2.blank? %>
                    음악부터 영화, 게임까지<br>
                    Galaxy S21과 함께 쓰면<br>
                    삶의 질이 상승하는SK텔레콤 5종 서비스!<br>
                    <br>
                    SK텔레콤 직영매장 네이버 예약하고<br>
                    <b>구독서비스 가입 리뷰</b>를 남겨주시면<br>
                    <b>스타벅스 커피 쿠폰</b>을 드립니다! <br>
                    <br>
                    <span class="purple">
                    * SK텔레콤의 직영매장은 PS&M입니다. <br>
                    * PS&M이 아닌 매장은 SK텔레콤의 직영매장이 아닙니다. 
                    </span>
                <% else %>
                    <%= @meta.text2.html_safe %>
                <% end %>
                
            </p>
            <a href="/events/1/apply" class="btn">리뷰이벤트 응모하기</a>
        </div>
    </section>

    <!-- event description -->
    <section class="section text-center">
        <div class="box">

            <div class="box__content">
                <p class="mb-3"><strong><%= @event.start_date.strftime("%Y.%m.%d") %> ~ <%= @event.end_date.strftime("%Y.%m.%d") %></strong></p>
                
                <% if @meta.nil? || @meta.image3.blank? || @meta.image3.try(:key).nil? %>
                    <%= image_tag("event1/headline2.png", class: "mb-3 img-in-text") %>
                <% else %>
                    <img class="mb-3 img-in-text" src="<%= Cloudinary::Utils.cloudinary_url(@meta.image3.key, options = {}) %>" />
                <% end %>
                
                <h4>
                    <% if @meta.nil? || @meta.text3.blank? %>
                        - 매주 선착순 100명 증정 -
                    <% else %>
                        <%= @meta.text3.html_safe %>
                    <% end %>
                </h4>


                <% if @meta.nil? || @meta.image4.blank? || @meta.image4.try(:key).nil? %>
                    <%= image_tag("event1/starbucks.jpg", class: "img-in-text") %>
                <% else %>
                    <img class="img-in-text" src="<%= Cloudinary::Utils.cloudinary_url(@meta.image4.key, options = {}) %>" />
                <% end %>
                
                <p><small>
                    <% if @meta.nil? || @meta.text4.blank? %>
                        *스타벅스 아메리카노 Tall Size 증정
                    <% else %>
                        <%= @meta.text4.html_safe %>
                    <% end %>
                </small></p>

            </div>

            <div class="box__content bg-yellow">
                <% if @meta.nil? || @meta.image_apps.blank? || @meta.image_apps.try(:key).nil? %>
                    <%= image_tag("event1/apps2.png", class: "mt-3 mb-5") %>
                <% else %>
                    <img class="mt-3 mb-5" src="<%= Cloudinary::Utils.cloudinary_url(@meta.image_apps.key, options = {}) %>" />
                <% end %>
            </div>

            <div class="box__content text-left">
                <p class="mb-4">

                    <% if @meta.nil? || @meta.text5.blank? %>
                        <b>1. 이벤트 일정</b><br> : 1월 22일(사전예약개통)~ 2월 28일<br>
                        <br>
                        <b>2. 응모 대상</b><br> : SK텔레콤 직영 매장 (PS&M 매장) 네이버 예약 방문 고객<br>
                        *SK텔레콤 직영매장에서 네이버 예약 서비스를 운영하는 매장에 한합니다.<br>
                        <br>
                        <b>3. 응모방법</b><br> : 예약방문 후 별도 응모페이지를 통한 리뷰 인증 
                    <% else %>
                        <%= @meta.text5.html_safe %>
                    <% end %>

                </p>
                <%= image_tag("event1/steps.png", class: "mb-5") %>
                <p class="mb-5">
                    
                    <% if @meta.nil? || @meta.text6.blank? %>
                        <b>4. 당첨자 발표</b><br> : 구독서비스 가입 리뷰 고객 매주 선착순 100명 스타벅스 커피 증정<br>
                        <br>
                        * 매주 월요일 당첨자 개발 연락을 통한 당첨 안내 <br>
                        (최초 발송 : 2021년 2월 1일 월요일) <br>
                        <br>
                        <span class="purple">* 별도의 당첨자 발표 없이 이벤트 참여 시 입력하신 전화번호로 개별 문자(MMS) 발송됩니다. </span>
                    <% else %>
                        <%= @meta.text6.html_safe %>
                    <% end %>

                    
                </p>
                <div class="text-center">
                    <a href="/events/1/apply" class="btn">네이버 리뷰 이벤트 응모</a>
                </div>
            </div>

        </div>
    </section>

    <!-- warnings -->
    <section class="section">
        <div class="section__content">
            <h3 class="mb-4 black">
            
                <% if @meta.nil? || @meta.caution1.blank? %>
                    꼭 확인하세요!
                <% else %>
                    <%= @meta.caution1.html_safe %>
                <% end %>

            </h3>
            <p class="text-left">
                <% if @meta.nil? || @meta.caution2.blank? %>
                    <b>공통사항</b><br>
                    본 이벤트는 휴대폰 번호 당 한 번만 참여 가능합니다.<br>
                    비정상적이거나 불법적인 방법으로 이벤트에 참여한 경우 당첨 선정 대상에서 제외되거나 당첨이 취소될 수 있습니다.<br>
                    법인 고객님 및 만 14세 미만 고객님은 이 이벤트에 응모하실 수 없습니다.<br>
                    이 이벤트는 피에스앤마케팅의 사정에 따라 변경 또는 조기 종료될 수 있습니다.<br>
                    고객이 잘못 입력한 정보로 인한 혜택 미제공은 당사가 책임지지 않습니다.<br>
                    이벤트 운영 종료 후 제출하신 휴대폰 번호는 파기됩니다.<br>
                    본 이벤트는 SK텔레콤의 자회사㈜피에스앤마케팅에서 운영합니다.<br>
                    <br>
                    <b>경품 관련 공통사항</b><br>
                    경품 이미지는 고객님의 이해를 돕기 위한 것으로 실제 경품과는 차이가 있을 수 있습니다.<br>
                    경품은 상황에 따라 같은 금액의 비슷한 경품이나 다른 경품으로 변경될 수 있습니다.<br>
                    추첨 경품의 제세공과금(22%)은 당첨자 본인 부담입니다.(5만원 이하 경품은 제세공과금 제외)<br>
                    5만 원 초과 경품의 제세공과금 신고를 위해 필요한 본인 인증서류 등 관련 서류를 제출하셔야 하며, 제세공과금 미납 및 관련 서류 미제출 시 당첨이 취소될 수 있습니다.<br>
                <% else %>
                    <%= @meta.caution2.html_safe %>
                <% end %>
            </p>
        </div>
    </section>
        
    <%= image_tag("galaxy.png", class: "img-at-bottom") %>
</div>


<!-- meta tags -->
<%= render partial: "partials/img_event1" %>